---
title: Content aware
permalink: content-aware.html
tags: unkonf25
css:
  - base
  - normalizeme
  - content-aware
---

<div class="teaser-wrapper">
  <div class="teaser">
    <div class="teaser-header">
      <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
      <div class="teaser-mark">Video</div>
    </div>
    <div class="teaser-content">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores earum cum quaerat voluptas sed dolorem at vitae,
        qui magni molestiae iure mollitia velit similique rerum reprehenderit perferendis consequuntur? Odit consectetur
        nesciunt adipisci sequi accusamus natus perspiciatis tempora consequuntur qui doloribus.</p>
    </div>
  </div>
  <div class="teaser">
    <div class="teaser-header">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quam? Cupiditate, consectetur?
      </h2>
    </div>
    <div class="teaser-content">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores earum cum quaerat voluptas sed dolorem at vitae,
        qui magni molestiae iure mollitia velit similique rerum reprehenderit perferendis consequuntur? Odit consectetur
        nesciunt adipisci sequi accusamus natus perspiciatis tempora consequuntur qui doloribus.</p>
    </div>
  </div>
</div>