---
title: Teaser mit :has()-Selector
permalink: has-selector.html
tags: unkonf25
css:
  - base
  - normalizeme
  - has-selector
---

<div class="teaser-wrapper">
  <div class="teaser-item">
    <h2>Teaser 1</h2>
    <img src="assets/img/7x2-200.png" alt="">
    <p>Dies ist ein Teaser mit Link.</p>
    <a href="#">Mehr erfahren</a>
  </div>
  <div class="teaser-item">
    <h2>Teaser 2</h2>
    <p>Dies ist ein Teaser ohne Link.</p>
  </div>
  <div class="teaser-item">
    <h2>Teaser 3</h2>
    <p>Dies ist ein weiterer Teaser mit Link.</p>
    <a href="#">Mehr erfahren</a>
  </div>
</div>