---
title: is-und-where
description: Testseite für die CSS Selektoren :is() und :where()
permalink: is-und-where.html
css:
  - base
  - normalizeme
  - is-und-where
---

<article>
  <h1>Lorem ipsum dolor sit.</h1>
  <h2>Lorem, ipsum dolor.</h2>
  <h3>Lorem ipsum dolor sit amet consectetur.</h3>
  <h4>Lorem ipsum dolor sit amet.</h4>
</article>
<section>
  <h1>Lorem ipsum dolor sit.</h1>
  <h2>Lorem, ipsum dolor.</h2>
  <h3>Lorem ipsum dolor sit amet consectetur.</h3>
  <h4>Lorem ipsum dolor sit amet.</h4>
</section>