---
layout: simple-1.njk
title: Kitchensink
permalink: kitchensink.html
swapstyle:
  - selektoren/kitchensink
js:
  - swapstylesheet
---

<!-- framework toggles -->
<details
  class="framework-toggle"
  style="padding: 10px; font-family: system-ui; font-size: 14px; color: #a20000; font-weight: 600;">
  <summary style="padding: 4px 8px; cursor: pointer; ">Toggle reset/framework:</summary>
  {% for item in swapstyles %}
    <div style="margin-left: 10px; ">
      <label>
        <input type="radio" name="options" id="{{ item.id }}" value="{{ item.id }}" onclick="swapStyleSheet('{{ item.css }}')">
          {{ item.name }}
        </label>
      </div>
    {% endfor %}
  </details>
  <h1>Jemand musste Josef K. verleumdet haben.</h1>
  <p>Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet.
    »Wie ein Hund! « sagte er, es war, als sollte die Scham ihn überleben. Als Gregor Samsa eines Morgens aus unruhigen
    Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Und
    <strong>strong</strong>
    es war ihnen wie eine Bestätigung ihrer neuen Träume und guten Absichten, als
    <em>am Ziele ihrer Fahrt</em>
    die Tochter als erste sich erhob und ihren
    <b>jungen Körper</b>
    dehnte. »Es ist ein eigentümlicher Apparat«, sagte der Offizier zu dem Forschungsreisenden und überblickte mit einem
    gewissermaßen bewundernden Blick den ihm doch
    <a class="external ext" href="#">wohlbekannten Apparat</a>.</p>
  <h2>Das Erwachen aus unruhigen Träumen</h2>
  <p>Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren
    Ungeziefer verwandelt.</p>
  <p>Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren
    Ungeziefer verwandelt.</p>
  <ul>
    <li>Um ein triviales Beispiel zu nehmen.</li>
    <li>Aber wer hat irgend ein Recht, einen Menschen zu
                                                tadeln.</li>
    <li>Der den Schmerz an sich liebt.</li>
  </ul>
  <p>Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren
    Ungeziefer verwandelt.</p>
  <form action="#" method="post">
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="Bitte geben Sie Ihren Namen ein!"/>
      <label for="email">Email:</label>
      <input type="email" id="email" placeholder="Bitte geben Sie Ihre E-Mail Adresse ein!"/>
      <label for="message">Nachricht:</label>
      <textarea id="message" placeholder="Bitte geben Sie Ihre Nachricht ein!"></textarea>
      <input type="submit" value="Send message"/>
    </fieldset>
  </form>
  <p>Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren
    Ungeziefer verwandelt.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem error dicta omnis corrupti velit consequatur sint
    reprehenderit illo dignissimos fugiat soluta quas dolores consectetur perferendis magnam nulla pariatur accusamus
    exercitationem odit, nihil doloremque laborum corporis neque inventore! Exercitationem repellat ullam maiores harum
    veniam provident, ratione perferendis a libero totam hic expedita corporis esse voluptatum, in accusamus, neque eligendi
    quasi quo? Deleniti explicabo error nam eveniet. Beatae eius neque, nostrum quia assumenda rem itaque rerum alias enim
    earum, quidem blanditiis officiis repellat exercitationem quos quibusdam fugit aperiam maxime ut maiores vel et.
    Explicabo necessitatibus nam fugiat, excepturi voluptatum vero blanditiis quos? Iure, earum corporis quae illum enim
    quaerat perferendis velit deleniti eligendi? Corrupti, esse. Molestiae optio officia officiis ipsam veniam totam
    recusandae fuga saepe dolore! Nostrum molestiae eius quidem, similique dolore beatae architecto ratione laudantium
    explicabo, error impedit voluptas quasi provident non quisquam ad nobis cum voluptatibus, mollitia temporibus veniam
    deserunt. Nesciunt accusantium soluta ullam numquam quam minima in vero recusandae repellendus, repellat quidem
    praesentium ex delectus velit quasi atque vitae totam rem assumenda excepturi maxime voluptates harum. Ex blanditiis
    veritatis aperiam dolor expedita accusantium saepe, modi, cumque fugit natus quos distinctio sit nostrum voluptas hic,
    ipsa esse rem tempora omnis.</p>
  <table class="data">
    <tr>
      <th>Tabellenüberschrift 1</th>
      <th>Tabellenüberschrift 2</th>
      <th>Tabellenüberschrift 3</th>
      <th>Tabellenüberschrift 4</th>
    </tr>
    <tr>
      <td>1. Eintrag in der ersten Zeile</td>
      <td>2. Eintrag in der ersten Zeile</td>
      <td>3. Eintrag in der ersten Zeile</td>
      <td>4. Eintrag in der ersten Zeile</td>
    </tr>
    <tr>
      <td>1. Eintrag</td>
      <td>2. Eintrag</td>
      <td>3. Eintrag</td>
      <td>4. Eintrag</td>
    </tr>
    <tr>
      <td>1. Eintrag in der letzten Zeile</td>
      <td>2. Eintrag in der letzten Zeile</td>
      <td>3. Eintrag in der letzten Zeile</td>
      <td>4. Eintrag in der letzten Zeile</td>
    </tr>
  </table>
  <p>Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren
    Ungeziefer verwandelt.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, id deserunt. Officiis vitae beatae voluptatem
    obcaecati adipisci ab ullam magnam officia, cum animi mollitia dolorum quas atque error debitis, optio placeat quod
    quidem similique soluta. Magni pariatur ipsam cupiditate hic ratione repellendus, voluptates voluptatum deleniti
    provident praesentium reprehenderit. Numquam necessitatibus explicabo similique aperiam excepturi beatae repudiandae sit
    ratione saepe, delectus obcaecati, dolorum nam amet. Nulla omnis temporibus iusto exercitationem! Sit vitae natus maxime
    quibusdam repudiandae. Quis voluptates et saepe veniam! Omnis, quod? Assumenda, reprehenderit praesentium reiciendis
    quaerat quo voluptatum illum ad facere nemo officiis quos corporis? Tenetur sunt omnis asperiores non magnam molestiae,
    et culpa dolore distinctio rerum fugiat nisi neque hic rem illo beatae magni reiciendis esse aspernatur tempore dolores
    sit minima. Nesciunt officia pariatur consequatur, rerum ut corporis incidunt et odio fuga dolorem in quam architecto
    consequuntur necessitatibus quis qui dolor ipsum illum id quisquam facilis aliquam. Ullam eligendi temporibus quos quia.
    Nostrum, veniam hic nesciunt, cupiditate sequi exercitationem ipsa maxime numquam eveniet sint illum in soluta vero
    pariatur reprehenderit quisquam eum dolorum neque aut quam minus rem. Fugit, dolor possimus inventore sit asperiores non
    ipsum magnam obcaecati optio! Excepturi at nihil sapiente eum consequuntur eligendi aspernatur itaque deserunt eius ad
    dolores ex dolore rerum sequi, amet quis unde. Quia non excepturi dolores eum ut ipsam magnam animi deserunt labore
    asperiores, assumenda ab ducimus reprehenderit rem tempore dolorem est neque ipsum similique maxime enim quam quae?
    Labore cupiditate, ullam illum voluptatibus impedit rerum quis fuga vero, velit ex ea, minima nostrum. Quo accusantium
    nostrum excepturi facere animi nulla atque possimus laudantium? Veniam accusantium voluptatibus cumque voluptates
    expedita pariatur at provident laborum inventore modi blanditiis minus, ipsa quae maiores sit sequi quas dolorum, nobis,
    rerum fuga quos! Nemo, nihil? Aspernatur numquam beatae expedita, totam ex amet velit? Animi, libero.</p>
  <p>
    <a href="https://codepen.io/dbox/pen/gMbeYw">Quelle</a>
  </p>