---
title: Select last row when using repeat(auto-fit/fill) with Grid
permalink: select-last-row.html
css:
  - basics/base
  - basics/normalizeme
  - select-last-row
---

<div class="grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<p>Quelle:
  <a href="https://codepen.io/kevinpowell/pen/ogjwxyv/19639a71b6ff26e1bf87738fa6db12d5?editors=1100">ein Codepen von Kevin
    Powell</a>
</p>