---
title: Die zweite Reihe selektieren
permalink: select-2nd-row.html
css:
  - base
  - normalizeme
  - select-2nd-row
---

<div class="grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<p>Quelle:
  <a href="https://codepen.io/kevinpowell/pen/YPyQqMq/990300b888e8aec0d77d520d5948ddb5?editors=1100">Codepen von Kevin
    Powell</a>
</p>
<p>Basierend auf dem Artikel:
  <a href="https://keithclark.co.uk/articles/targeting-first-and-last-rows-in-css-grid-layouts/">Targeting First and Last
    Rows in CSS Grid Layouts</a>
</p>