---
layout: simple-1.njk
title: support für CSS
permalink: support-fuer-css.html
css:
  - basics/base
  - basics/normalizeme
  - basics/screen-dimensions
  - selektoren/supports
---

<main>

<span class="badge" data-check="check-ios">
    <span class="badge-text">iOS Hack</span>
</span>

<span class="badge" data-check="min-resolution">
    <span class="badge-text">min-resolution: 0.001dpcm</span>
</span>

<span class="badge" data-check="check-has">
    <span class="badge-text">:has()</span>
</span>

<span class="badge" data-check="check-flow-root">
    <span class="badge-text">flow-root</span>
</span>

<span class="badge" data-check="accent-color">
    <span class="badge-text">accent-color</span>
</span>

<span class="badge" data-check="anchor-name">
    <span class="badge-text">anchor-name</span>
</span>

<span class="badge" data-check="container-name">
    <span class="badge-text">container-name</span>
</span>
<span class="badge" data-check="base-select">
    <span class="badge-text">appearance: base-select</span>
</span>
<span class="badge" data-check="hyphenate-limit-chars">
    <span class="badge-text">hyphenate-limit-chars</span>
</span>
<span class="badge" data-check="width-stretch">
    <span class="badge-text">width: stretch</span>
</span>
</main>