---
layout: simple-1.njk
title: support für CSS
permalink: support-fuer-css.html
css:
  - basics/base
  - basics/normalizeme
  - basics/screen-dimensions
  - selektoren/supports
---

<main>
  <div class="check-ios">iOS Hack</div>
  <div class="min-resolution">min-resolution: 0.001dpcm</div>
  <div class="check-has">:has()</div>
  <div class="check-flow-root">flow-root</div>
  <div class="accent-color">accent-color</div>
  <div class="anchor-name">anchor-name</div>
  <div class="container-name">container-name</div>
  <div class="base-select">appearance: base-select</div>
  <div class="hyphenate-limit-chars">hyphenate-limit-chars</div>
  <div class="width-stretch">width: stretch</div>
</main>