---
title: Systemfarben
permalink: systemcolor-keywords.html
css:
  - basics/base
  - systemcolors
---

<div class="container">
  <div class="card" data-support="Canvas">
    <h2>Canvas</h2>
    <p>Background of application content or documents.</p>
  </div>
  <div class="card" data-support="CanvasText">
    <h2>CanvasText</h2>
    <p>Text in application content or documents.</p>
  </div>
  <div class="card" data-support="LinkText">
    <h2>LinkText</h2>
    <p>Text in non-active, non-visited links. For light backgrounds, traditionally blue.</p>
  </div>
  <div class="card" data-support="VisitedText">
    <h2>VisitedText</h2>
    <p>Text in visited links. For light backgrounds, traditionally purple.</p>
  </div>
  <div class="card" data-support="ActiveText">
    <h2>ActiveText</h2>
    <p>Text in active links. For light backgrounds, traditionally red.</p>
  </div>
  <div class="card" data-support="ButtonFace">
    <h2>ButtonFace</h2>
    <p>The face background color for push buttons.</p>
  </div>
  <div class="card" data-support="ButtonText">
    <h2>ButtonText</h2>
    <p>Text on push buttons.</p>
  </div>
  <div class="card" data-support="ButtonBorder">
    <h2>ButtonBorder</h2>
    <p>The base border color for push buttons.</p>
  </div>
  <div class="card" data-support="Field">
    <h2>Field</h2>
    <p>Background of input fields.</p>
  </div>
  <div class="card" data-support="FieldText">
    <h2>FieldText</h2>
    <p>Text in input fields.</p>
  </div>
  <div class="card" data-support="Highlight">
    <h2>Highlight</h2>
    <p>Background of selected text, for example from ::selection.</p>
  </div>
  <div class="card" data-support="HighlightText">
    <h2>HighlightText</h2>
    <p>Text of selected text.</p>
  </div>
  <div class="card" data-support="SelectedItem">
    <h2>SelectedItem</h2>
    <p>Background of selected items, for example a selected checkbox.</p>
  </div>
  <div class="card" data-support="SelectedItemText">
    <h2>SelectedItemText</h2>
    <p>Text of selected items.</p>
  </div>
  <div class="card" data-support="Mark">
    <h2>Mark</h2>
    <p>Background of text that has been specially marked (such as by the HTML mark element).</p>
  </div>
  <div class="card" data-support="MarkText">
    <h2>MarkText</h2>
    <p>Text that has been specially marked (such as by the HTML mark element).</p>
  </div>
  <div class="card" data-support="GrayText">
    <h2>GrayText</h2>
    <p>Disabled text. (Often, but not necessarily, gray.)</p>
  </div>
  <div class="card" data-support="AccentColor">
    <h2>AccentColor</h2>
    <p>Background of accented user interface controls.</p>
  </div>
  <div class="card" data-support="AccentColorText">
    <h2>AccentColorText</h2>
    <p>Text of accented user interface controls.</p>
  </div>
</div>
<p>
  <a href="https://codepen.io/nileshprajapati/pen/eYLXqpg">Quelle</a>
</p>