---
title: View Transition 1 - seitenweise Übergänge
permalink: vt-1.html
css:
    - layouts/testlayout
    - basics/code
    - components/base 
    - components/details
    - view-transitions/vt-1
js:
    - syntaxp.min
---

<div class="wrapper">
  <header class="site-header">
    <div class="logo">Logo</div>
    <button class="site-nav-toggle" aria-label="Open Navigation" aria-expanded="false">
      &#9776;
    </button>
    <nav class="site-nav" role="navigation">
      <a href="vt-1.html" class="active" title="Home">Startseite</a>
      <a href="vt-1a.html" title="Gallery">Arbeiterstrandbadstraße</a>
      <a href="vt-1b.html" title="About">Wirtschaft & Finanzen</a>
      <a href="vt-1c.html" title="Contact">Kontakt</a>
    </nav>
  </header>
  <main class="content">
    <h1>Die Initialisierung einfacher Übergänge ist simpel</h1>
    <p>Ins CSS tragen wir ein:</p>
    <pre><code class="language-css">
@view-transition {
  navigation: auto;
}
    </code></pre>
    <p>Wenn wir es besonders gut machen wollen, dann nehmen wir:</p>
    <pre><code class="language-css">
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}</code></pre>

{% details "Die Animation wird langsamer."%}
  <pre><code class="language-css">::view-transition-group(root) {
  animation-duration: 2s;
  }</code></pre>
{% enddetails %}

{% details "Eigene Animation"%}
  <pre><code class="language-css">::view-transition-old(root) {
  animation-name: slide-out;
  }
  ::view-transition-new(root) {
  animation-name: slide-in;
  }

  @keyframes slide-in {
  from {translate: 100vw 0;}
  }
  @keyframes slide-out {
  to {translate: -100vw 0;}
  }</code></pre>
{% enddetails %}

{% details "flippig"%}
  <pre><code class="language-css">::view-transition-old(root) {
  animation: flip-horizontal-bottom 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
  ::view-transition-old(new) {
  animation: flip-horizontal-top 0.6s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }
  @keyframes flip-horizontal-bottom {
    0% {transform: rotateX(0);}
    100% {transform: rotateX(-180deg);}
  }
  
  @keyframes flip-horizontal-top {
    0% {transform: rotateX(0);}
    100% {transform: rotateX(180deg);}
  }</code></pre>
{% enddetails %}

{% details "Die Navigation bleibt stehen!"%}
<pre><code class="language-css">/* Das funktioniert deshalb, weil mit ::view-transition-old(root) das Element root getriggert wird. 
Der view-transition-name erzeugt einen eigenen Kontext, der dann separat animiert werden könnte. 
Automatisch ist das Element so aus der Animation herausgenommen. */    
.site-header {
  view-transition-name: site-header;
}</code></pre>
{% enddetails %}

    <div class="post-thumbnails">
      <div class="thumbnail"></div>
      <div class="thumbnail"></div>
      <div class="thumbnail"></div>
    </div>
  </main>
  <aside class="sidebar">
    <h2>Abseitiges</h2>
    <div class="post-thumbnails">
      <div class="thumbnail"></div>
      <div class="thumbnail"></div>
    </div>
  </aside>
  <footer class="site-footer">Footer</footer>
</div>