@import url('custom-properties.css');

* {
  box-sizing: border-box;
}

html {
  padding: calc(var(--space) * 2) 0;
  background-color: var(--html-bg);
  font-size: 16px;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  width: var(--body-width);
  padding: var(--body-padding);
  margin: 0 auto;
  background: var(--white);
  box-shadow: var(--box-shadow-1);
  color: var(--text-color);
}

:where(a) {
  color: currentColor;
}