.indexlist {
    font-size: 1.25rem;
    
    li {
        margin-bottom: 20px;
    }

    a {
        display: block;
        font-weight: 500;
    }

    a:is(:hover, :focus) {
        text-decoration: none;
    }
}