
    .fullbleed {
        /* 100vw erzeugt einen horizontalen Scrollbalken. */
        width: 100vw;
        /* besser, aber browserabhängig */
        width: calc(100vw - 16px);
        /*
        None of the viewport units take the size of scrollbars into account. On systems that have classic scrollbars enabled, an element sized to 100vw will therefore be a little bit too wide. This is as per specification.

        https: //web.dev/blog/viewport-units
        */
        margin-left: 50%;
        transform: translateX(-50%);

        background-color: var(--lightgrey);
        padding: var(--padding);
    }

    .fullbleed div {
        grid-column: feature;
    }

    .fullbleed img {
        aspect-ratio: 7/2;
        width: calc(100vw - 16px);
        margin-left: 50%;
        transform: translateX(-50%);
        max-width: unset;
        object-fit: cover;
    }

    .no-pad {
        padding: 0;
    }