/* .btn {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: beige;
    color: black;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    

} */

.btn {
    /* display: inline-block; */
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    width: fit-content;
    height: auto;
    margin: 0 0 1rem;
    padding: 4px 8px;
    color: #fff;
    background-color: #0099e5;
    border: 1px solid #06A;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset;
    transition: color .1slinear;
    cursor: pointer;
    user-select: none;

    &--medium {
        font-size: 20px;
    }

    svg {
        width: 48px;
        height: 48px;
        display: inline-block;
    }
}