.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--button-row-gap, 10px);
}

.btn {
  --button-background: #000;
  --button-color: #fff;
  --button-border-color: transparent;
  --btn-border-radius: 0;
  --button-padding: var(space-3) var(--spacing-4);

  background-color: var(--button-background);
  color: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: var(--btn-border-radius);
  padding: var(--button-padding);
  font-weight: 700;
  cursor: pointer;
}

.btn--primary {
  --button-background: var(--primary);
  --button-color: white;
}

.btn--secondary {
  --button-background: var(--secondary);
  --button-color: var(--text);
}

.btn--ghost {
  --button-background: var(--ghost);
  --button-border-color: var(--border);
  --button-color: var(--text);
}

.btn--round {
  --btn-border-radius: 100%;
}