---
layout: simple-2.njk
title: Anpassbare Bilderhöhe
permalink: anpassbare-bilderhoehe.html
css:
  - base
  - normalizeme
  - utilities
  - anpassbare-bilderhoehe
---

<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, minima.</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio est architecto esse reiciendis consequuntur repellendus
      obcaecati eius quibusdam nulla vero.</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 3</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et est corporis suscipit reiciendis commodi sapiente cum
      aperiam officia minus alias facilis doloremque nam, autem in aut nisi perspiciatis, deleniti eum!</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 4</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum earum nesciunt veniam, nemo impedit sapiente placeat
      suscipit quibusdam facilis ab dignissimos magni, neque molestiae ipsa maiores cupiditate asperiores dolorum tempora
      possimus! Laborum molestiae atque porro perspiciatis qui. Aperiam, reiciendis totam.</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 5</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vero rem aspernatur a aliquid impedit doloribus
      sed autem vitae maxime, obcaecati tenetur! Enim, a maiores? Alias a nihil neque temporibus unde voluptates
      exercitationem? Odio fugit sequi vero praesentium, tempora corporis quam architecto, aut quas harum deserunt ullam, cum
      labore natus.</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 6</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur itaque dignissimos quisquam porro accusamus
      consequatur doloremque explicabo aperiam aut maiores repellat, delectus provident alias quae magni reiciendis nesciunt
      est earum doloribus quos deleniti velit illum! Explicabo, illo. Facere ullam laudantium, odit excepturi quia esse
      corrupti vitae quaerat quos in optio perferendis inventore necessitatibus ratione consectetur cumque autem quae? Minima!</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 7</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, ea hic deleniti tempora quibusdam id nam corporis,
      dolorum eaque aperiam itaque facere labore praesentium numquam beatae nihil molestias? Saepe odit consectetur, dolore
      iste repellendus fugiat reprehenderit soluta? Nihil id error et minima reprehenderit optio, commodi neque dolores modi
      quibusdam officia expedita facere. Deleniti inventore ullam aliquam odio iure quis vel aspernatur quasi, voluptatibus,
      saepe numquam dolor quas! Explicabo, cupiditate voluptas.</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 8</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam quis quod officiis aperiam, voluptate illo vel ea
      odit repellendus atque officia, autem nostrum sint nam perferendis iste esse. Quis minima recusandae quibusdam vero
      architecto eum, quisquam esse totam voluptas eaque voluptatibus, reiciendis sequi unde laudantium voluptatum quaerat
      quas consequuntur soluta aspernatur, corporis eligendi eveniet veritatis? Reprehenderit non quas iure nostrum quaerat
      nam harum nisi. Ad ut placeat alias voluptatem minus nesciunt corrupti similique quibusdam voluptatum consequuntur.
      Excepturi saepe dignissimos ex!</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 9</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repellat rerum inventore nesciunt. Cupiditate vel
      aliquam, perferendis eaque quasi natus laboriosam soluta ipsum maxime eos cumque similique inventore, maiores alias
      repellat omnis et! Quibusdam eos mollitia suscipit delectus nesciunt atque, voluptas laborum inventore? Sint eos
      eligendi aliquid vero quibusdam dicta laudantium veritatis praesentium nisi voluptas, iusto, ab reprehenderit beatae
      necessitatibus asperiores illo, nostrum quis consequatur? Culpa alias ipsum, eveniet animi quis voluptatibus vero iusto
      sequi a ullam delectus dolore hic cumque dolores incidunt sint eius dolor adipisci maxime, ad maiores.</p>
  </div>
</div>
<div class="card">
  <img src='assets/img/lorem-picsum/400x400/528-400x400.jpg' alt=''>
  <div class="content">
    <h2>test 10</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quidem nulla amet officiis, sapiente distinctio
      eum. Tempora sunt eligendi delectus commodi suscipit, adipisci omnis, recusandae mollitia labore, ut minima vel fuga
      quidem nam fugiat soluta ipsa quaerat illo! Recusandae nam cum quod quos. Assumenda, natus illo quisquam doloribus
      possimus unde quas aliquam, tempora sint in eum laboriosam iste consequuntur earum repudiandae quaerat ullam molestias
      necessitatibus, ipsam dolores! Vero, necessitatibus dolor accusantium eaque aliquid id, aperiam fugiat itaque sed aut
      expedita nemo. Minima, aspernatur quis odio asperiores placeat atque, quidem deserunt rem, reprehenderit repudiandae
      impedit aperiam deleniti! Quisquam ullam asperiores doloremque!</p>
  </div>
</div>
<div class="hint">
  <p>Quelle:
    <a href="https://codepen.io/kevinpowell/pen/RNWddev?editors=1100" target="_blank">Codepen</a>
    von Kevin Powell.</p>
</div>