---
layout: simple-2.njk
title: dialog
permalink: dialog.html
css:
  - basics/base
  - basics/normalizeme
  - testseiten/dialog-1

js:
  - dialog-1
---

<div class="wrapper">
  <h1>Dialog-Testseite</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum fugit molestias eligendi mollitia veniam autem
    distinctio sint impedit similique. Animi, quasi dolorum voluptatum distinctio quia reprehenderit, eos velit nam cum
    molestias accusantium minus dolores voluptatibus aut iure. Eligendi, ullam consequatur molestias, nihil omnis explicabo
    excepturi temporibus est ad distinctio animi.</p>
  <figure>
    <img
      class="flexible"
      src='https://images.unsplash.com/photo-1725072730410-51ca1348c521?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjYwOTA2MTJ8&ixlib=rb-4.0.3&q=80&w=400'
      alt=''>
    <figcaption>
      <p>Lorem ipsum dolor sit amet.</p>
    </figcaption>
  </figure>
  <div class="formcnt">
    <button class="btn open">Dialog öffnen</button>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic nam totam inventore rerum officia dignissimos quis
    minus praesentium! Velit consectetur dolorem earum dolore quaerat eligendi, vel numquam. Corrupti, nam vel. Non ratione
    error neque! Labore placeat natus laudantium sit corrupti, molestias voluptatem? Laborum aperiam omnis possimus,
    cupiditate rerum officia fuga placeat nobis cumque est reiciendis tempore, non aliquam quasi mollitia sed excepturi
    recusandae nam corrupti quos. Voluptatibus eveniet deserunt molestiae dolor? Ducimus laboriosam nisi, molestiae
    necessitatibus ipsam reiciendis ratione nihil distinctio, accusamus sequi voluptatibus explicabo, cumque doloremque in
    et odit sint! Nemo rem voluptatum quis nihil excepturi nulla atque mollitia necessitatibus dolore quas aliquam, porro
    itaque facere nobis sed voluptate est ipsam magnam delectus. Corrupti maiores reiciendis provident id!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officiis mollitia quibusdam ipsam recusandae
    laudantium obcaecati impedit. Libero in distinctio cumque nulla laboriosam expedita nobis perspiciatis, harum,
    voluptatibus neque nesciunt sint laudantium repellendus officiis ratione iure odio, ipsa reprehenderit minima facilis
    quod dolore! Numquam rerum amet, repellat odit, quia blanditiis incidunt quidem corporis ullam eum obcaecati debitis
    omnis, ut reprehenderit. Consectetur molestias non quisquam sed veniam, tempore delectus facere beatae, vero a
    recusandae omnis! Laudantium modi quae mollitia voluptate repellendus tempore assumenda iusto labore, eos nobis dolorum
    itaque, nihil nam delectus temporibus reiciendis eius deleniti earum, magnam adipisci? Neque, iure?</p>
  <dialog>
    <h2>Willkommen im Dialog</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eveniet quaerat vel. Libero laudantium ullam
      doloremque enim quam! Assumenda, ducimus.</p>
    <button autofocus class="btn close">Schliessen</button>
  </dialog>
</div>