---
layout: simple-1.njk
title: iOS-Ermittlung
permalink: ios-ermittlung.html
quelle: https://codepen.io/team/SWROnline/pen/yLoVBJo
css:
  - testseiten/ios-ermittlung
js:
  - ios-ermittlung
---

<h2>Bist Du ein Safari und auf iOS?</h2>
<div class="hint" id="target"></div>
<div id="uainfo"></div>