---
layout: simple-1.njk
title: OS-Ermittlung
permalink: os-ermittlung.html
css:
  - testseiten/os-ermittlung
js:
  - os-ermittlung
---

<div id="mobile" class="test">
  <h1>Mobiles Betriebssystem</h1>
  <h2></h2>
</div>
<div id="desktop" class="test">
  <h1>Desktop Betriebssystem</h1>
  <h2></h2>
</div>