@layer demo, layout;

@layer layout {
    :root {
        --gap: clamp(1rem, 4vw, 2rem);
        --full: minmax(var(--gap), 1fr);
        --feature: minmax(0, 12vw);
        --popout: minmax(0, 2rem);
        --content: min(clamp(30rem, 52vw, 60rem), 100% - var(--gap) * 2);
        /* wird nur bei einseitigem Herausbrechen benötigt. */
        --content-inset: min(clamp(30rem, 52vw, 60rem), 100% - var(--gap));
    }

    /*
        Die Regionen von aussen nach innen:
        full ==> (side-anchor) ==> feature ==> popout ==> content
    */
    .named-grid {
        display: grid;
        grid-template-columns: 
            [full-start] var(--full) 
                [feature-start] var(--feature) 
                    [popout-start] var(--popout) 
                        [content-start] var(--content) [content-end] 
                        var(--popout) [popout-end] 
                    var(--feature) [feature-end] 
                var(--full) [full-end];
    }


    .named-grid-feature-left {
        display: grid;
        grid-template-columns:
            [full-start] var(--full) 
                [feature-start] var(--feature) 
                    [popout-start] var(--popout) 
                        [content-start] var(--content-inset) [content-end] 
                    var(--popout) [popout-end] 
                var(--feature) 
            [feature-end full-end];
    }
    
    .named-grid-feature-right {
        display: grid;
        grid-template-columns:
            [full-start feature-start] var(--feature) 
                [popout-start] var(--popout) 
                    [content-start] var(--content-inset) [content-end] 
                var(--popout) [popout-end] 
                var(--feature) [feature-end] 
            var(--full) [full-end];
    }


    /* Der Einfachheit halber werden die Klassen nach den Regionen/Spalten benannt.*/

    .named-grid > * {
        grid-column: content;
    }

    /* main {
        display: grid;
        grid-template-columns: subgrid;
    }
     */
    .full {
        grid-column: full;
    }
    .feature {
        grid-column: feature;
    }
    .popout {
        grid-column: popout;
    }
    .content {
        grid-column: content;
    }

    .feature-left {
        grid-column: full-start / feature-end;
    }

    .feature-left> * {
        grid-column: full-start / feature-end;
    }

    .feature-right {
        &, & > * {
            grid-column: feature-start / full-end;
        }
    }

    /*
        Es gehen nicht:
        margin-left: -33.33333%;
        margin-left: -12%;
        margin-left: minmax(0, 12vw)
        margin-left: max(0, -12vw)
        margin-left: -12vw
        
        
        */
        .content .feature-left {
            margin-left: -33.33333%;
            margin-left: max(0, -12vw);
    }

    .content .feature-right {
        margin-right: calc(var(--feature) * -1);
    }
}


@layer demo {

    header:has(nav) {
        background-color: var(--yellow-5);
        padding: var(--padding);
    }
    nav {
        background-color: var(--yellow-3);
        padding: var(--padding);
    }

    :is(h1, h2, h3, h4) {
        margin: 0 0 var(--space-2) 0;
    }

    .full {
        background-color: var(--eggshell);
    }
    
    .feature, .feature-left, .feature-right {
        background-color: var(--yellow-1);
    }
    
    .popout {
        background-color: var(--yellow-3);
    }
    
    .content {
        background-color: var(--yellow-4);
    }

    .pad {
        padding: var(--padding)
    }

    .pad-inline-end {
        padding-inline-end: var(--padding);
    }

    .pad-block {
        padding-block: var(--padding);
    }

    main > *, .content > *  {
        margin-bottom: var(--space-2);
    }
}

/*
     Idea based on these articles:
        - https: //ryanmulligan.dev/blog/layout-breakouts/
        - https: //www.viget.com/articles/fluid-breakout-layout-css-grid/
*/