@layer base.vars, base.demo, container, grid, simpleteaser, simpleteasergrid;

@import url('modernes-layout-vars.css') layer(base.vars);
@import url('demo.css') layer(base.demo);

@layer container {
    .test {
        container-name: test;
        /* logische Einheit, für uns: width*/
        container-type: inline-size;
    }
}

@layer grid {
    .test {
        display: grid;
        gap: var(--area-gap);
    }

    @media screen and (min-width: 800px) {
        .test-1 {
            grid-template-columns: repeat(2, 1fr);
        }

    }
}

@xlayer grid {
    .test-1 {
        display: grid;
        gap: var(--area-gap);
    }

    .test-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--area-gap);
    }
}

@xlayer simpleteaser {
    .simpleteaser {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: var(--area-gap);
    }

    .simpleteaser img {
        display: block;
        border-radius: 4px;
    }

    .simpleteaser h2 {
        margin: 0;
    }

    @container test (width >=500px) {
        .simpleteaser {
            grid-template-columns: 1fr;

        }

        .simpleteaser img {
            border-radius: 8px;
        }

        .simpleteaser h2 {
            font-size: 1.25rem;
        }
    }
}

@layer simpleteaser {
    .simpleteaser {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: var(--area-gap);

        border: 1px solid var(--border-color);
        padding: 10px;
        background-color: var(--thumbnail-1);
        color: var(--text-color);
        text-decoration: none;
        transition: background-color 0.3s ease;

    }

    .simpleteaser img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 4px;
        object-fit: cover;
    }

    .simpleteaser:hover {
        background-color: var(--thumbnail-2);
        color: #fff;
    }

    .simpleteaser a {
        color: inherit;
        text-decoration: none;
    }

    .simpleteaser a:hover {
        text-decoration: underline;
    }

    @media screen and (min-width: 800px) {
        .simpleteaser {
            grid-template-columns: 1fr;
        }

        .simpleteaser img {
            border-radius: 8px;
            width: 200px;
        }
    }
}

@layer simpleteasergrid {

    @media screen and (min-width: 800px) {
        .test-1 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 1000px) {
        .test-1 {
            grid-template-columns: repeat(3, 1fr);
        }

    }
}