---
title: Navigationen
permalink: navigations-1.html
css:
  - fremd/open-props/open-props
  - fremd/open-props/normalize/normalize
  - testwrapper
  - navigations
---

<div class="test-wrapper">
  {% horizontalnav "nav-1", navigations2.english1 %}
  {% horizontalnav "nav-2", navigations2.english2 %}
  {% horizontalnav "nav-3", navigations2.deutsch1 %}
  {% horizontalnav "nav-4", navigations2.deutsch2 %}
  {% horizontalnav "nav-5", navigations2.deutsch3 %}
  {% horizontalnav "nav-6", navigations2.deutsch4 %}
</div>