---
title: Breakout Layout 1
permalink: breakout-layout-1.html
css:
    - basics/custom-properties
    - basics/normalizeme
    - breakout-1
---

<main class="grid-breakout">
  <section class="full bg-offset pad">
    <h1>Breakout Layout 1</h1>
    <p>Based on an article by
      <a href="https://www.viget.com/articles/fluid-breakout-layout-css-grid/">Nathan Long</a>
      on Viget.</p>
    <div class="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium dicta cupiditate incidunt, in eius
        similique pariatur corrupti voluptatum minima! Vel provident corrupti odit placeat nesciunt deleniti officiis magnam
        quo?</p>
    </div>
  </section>
  <p>
    <strong>(Because this has no column class, it defaults to 'content' size).</strong>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium dicta cupiditate incidunt, in eius similique
    pariatur corrupti voluptatum minima! Vel provident corrupti odit placeat nesciunt deleniti officiis magnam quo?</p>
  <section class="feature bg-minimal pad">
    <h2>A Feature Breakout</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero eligendi aliquam, debitis, eum quidem
      amet neque iste tempore libero deleniti nesciunt! Magnam ullam nesciunt facere animi quas dolores quod.</p>
  </section>
  <section class="content">
    <h2>More Content</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eaque, amet optio magnam quibusdam assumenda laborum
      modi voluptatem a reprehenderit cumque, omnis, iusto alias magni. Amet non aliquam necessitatibus. Ducimus?</p>
  </section>
  <section class="popout bg-offset pad">
    <h2>A Popout Breakout</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus vero eligendi aliquam, debitis, eum quidem
      amet neque iste tempore libero deleniti nesciunt! Magnam ullam nesciunt facere animi quas dolores quod.</p>
  </section>
  <section class="feature-left grid-breakout-feature-left bg-minimal pad-block radius-tr">
    <div class="feature pad-inline-end">
      <h2>Anchor Left with Feature Width Inner Content</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab totam tenetur esse, eaque dolor ex hic porro. Inventore
        odio eum itaque neque, ab quaerat at tenetur qui vero aperiam adipisci!</p>
    </div>
  </section>
</main>