---
title: Layout Construction 1
layout: simple-1.njk
permalink: layout-construction-1.html
css:
    - custom-properties
    - normalizeme
    - layout-construction-1
---

<div class="wrapper named-grid">
  <header class="full">
    <h1>{{title}}</h1>
    <nav>nav</nav>
  </header>
  <main class="named-grid full">
    <article class="content pad">
      <h2>Article (content)</h2>
      <p>This is the main article content.</p>
      <p>{{lorem.para1}}</p>
      <p>{{lorem.para3}}</p>
    </article>
    <aside class="feature pad">
      <h2>Aside (feature)</h2>
      <p>This is the sidebar content.</p>
      <p>{{lorem.para1}}</p>
    </aside>
    <aside class="popout pad">
      <h2>Aside (popout)</h2>
      <p>This is the sidebar content.</p>
      <p>{{lorem.para2}}</p>
    </aside>
    <aside class="feature-left named-grid-feature-left pad">
      <h2>Aside (feature-left)</h2>
      <p>This is the sidebar content.</p>
      <p>{{lorem.para1}}</p>
    </aside>
    <aside class="feature-right named-grid-feature-right pad">
      <h2>Aside (feature-right)</h2>
      <p>This is the sidebar content.</p>
      <p>{{lorem.para3}}</p>
    </aside>
  </main>
</div>