---
title: Layout Construction 2
permalink: layout-construction-2.html
css:
    - basics/custom-properties
    - basics/normalizeme
    - layouts/layout-construction-1
    - layouts/layout-construction-2
---

<div class="wrapper named-grid">
  <header class="full">
    <h1>{{title}}</h1>
    <nav>nav</nav>
  </header>
  <main class="named-grid full">
    <article class="content pad">
      <h2>Article (content)</h2>
      <p>This is the main article content.</p>
      <p>{{lorem.para1}}</p>
      <div class="fullbleed named-grid">
        <div>
          <p>{{lorem.para2}}</p>
        </div>
      </div>
      <p>{{lorem.para3}}</p>
      <div class="fullbleed named-grid no-pad">
        <img src="assets/img/bridge-between-wi-and-mz.png" alt="">
      </div>
      <p>{{lorem.para2}}</p>
      <p>{{lorem.para3}}</p>
      <div class="fullbleed named-grid">
        <div class="feature pad">
          <p>{{lorem.para2}}</p>
        </div>
      </div>
    </article>
    <aside class="feature pad">
      <h2>Aside (feature)</h2>
      <p>This is the sidebar content.</p>
    </aside>
    <aside class="popout pad">
      <h2>Aside (popout)</h2>
      <p>This is the sidebar content.</p>
    </aside>
    <aside class="feature-left named-grid-feature-left pad">
      <h2>Aside (feature-left)</h2>
      <p>This is the sidebar content.</p>
    </aside>
    <aside class="feature-right named-grid-feature-right pad">
      <h2>Aside (feature-right)</h2>
      <p>This is the sidebar content.</p>
    </aside>
  </main>
</div>