---
title: modernes Layout 2
permalink: modernes-layout-2.html
css:
    - layouts/modernes-layout-vars
    - layouts/modernes-layout-reset
    - layouts/modernes-layout-2
---

{% nav %}
<main class="content">
  <h1>{{ lorem.headline1 }}</h1>
  <p>{{ lorem.para3 }}</p>
  <div class="post-thumbnails">
    {% thumbnail %}
    {% thumbnail %}
    {% thumbnail %}
  </div>
</main>
<aside class="sidebar">
  <h2>Abseitiges</h2>
  <div class="post-blockquotes">
    {% blockquote lorem.zitat1.quote, lorem.zitat1.author %}
    {% blockquote lorem.zitat2.quote, lorem.zitat2.author %}
    {% blockquote lorem.zitat3.quote, lorem.zitat3.author %}
  {# {% blockquote lorem.zitat4.quote, lorem.zitat4.author %}
          {% blockquote lorem.zitat5.quote, lorem.zitat5.author %} #}
    {# {% blockquote lorem.zitat6.quote, lorem.zitat6.author %}
                    {% blockquote lorem.zitat7.quote, lorem.zitat7.author %} #}
  </div>
</aside>
<aside class="extra">
  <p>{{ lorem.para1 }}</p>
  <p>{{ lorem.para2 }}</p>
  <p>{{ lorem.para3 }}</p>
</aside>
<footer class="site-footer">Footer</footer>