---
title: modernes Layout 1
permalink: modernes-layout-1.html
css:

    - layouts/modernes-layout-1
---

{% nav %}
<main class="content">
  <h1>{{ lorem.headline1 }}</h1>
  <p>{{ lorem.para3 }}</p>
  <div class="post-thumbnails">
    {% thumbnail %}
    {% thumbnail %}
    {% thumbnail %}
  </div>
</main>
<aside class="sidebar">
  <h2>Abseitiges</h2>
  <div class="post-thumbnails">
    {% thumbnail %}
    {% thumbnail %}
    {% thumbnail %}
    {% thumbnail %}
    {% thumbnail %}
  </div>
</aside>
<aside class="extra">
  <p>{{ lorem.para1 }}</p>
  <p>{{ lorem.para2 }}</p>
  <p>{{ lorem.para3 }}</p>
</aside>
<footer class="site-footer">Footer</footer>