---
title: sticky menubar
permalink: sticky-menubar.html
css:
  - layouts/sticky-menubar
js:
  - sticky-menubar
---

<header>
  <h1>Sticky menu bar on scroll</h1>
</header>
<nav>
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#info">Info</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
<main class="main">
  <h3 id="home">Home</h3>
  <p>{{lorem.para1}}</p>
  <p>{{lorem.para3}}</p>
  <p>{{lorem.para3}}</p>
  <h3 id="info">Info</h3>
  <p>{{lorem.para2}}</p>
  <p>{{lorem.para4}}</p>
  <h3 id="blog">Blog</h3>
  <p>{{lorem.para1}}</p>
  <p>{{lorem.para3}}</p>
  <p>{{lorem.para2}}</p>
  <p>{{lorem.para4}}</p>
  <h3 id="contact">Contact</h3>
  <p>{{lorem.para1}}</p>
</main>