---
layout: simple-1.njk
title: Adapt sorroundings 2
permalink: adapt-surroundings-2.html
css:
  - base
  - normalizeme
  - adapt-surroundings-1  
  - adapt-surroundings-2  
---

<div class="wrapper">
  <header class="site-header">Header</header>
  <aside class="sidebar-1">
    <div class="thumbnail"></div>
    <div class="thumbnail"></div>
  </aside>
  <main class="content"></main>
  <aside class="sidebar-2">
    <div class="thumbnail"></div>
    <div class="thumbnail"></div>
  </aside>
  <footer class="site-footer">Footer</footer>
</div>