---
layout: layouts/base.njk
title: Card-Testseite
permalink: /card.html
bodyClass: page
---


{% for image in images %}
{% if (loop.index <= 5) %}
    <div class="card"> 
        <header class="card__head">
            <h3>{{image.headline}}</h3>    
        </header>
        <div class="card__content">
            <img src="{{ image.filename }}" />
        </div>
    </div>
{% endif %}
{% endfor %}
