---
title: Übersicht der Testseiten
permalink: index.html
layout: simple-2.njk
css:
  - base
  - indexlist
---

<h2>Layout-Testseiten</h2>
<ol class="indexlist">
  {% for i in seiten.layouts %}
    <li>
      <a href="{{ i.url }}" target="_blank">{{ i.name }}</a>
    </li>
  {% endfor %}
</ol>
<h2>Selektoren</h2>
<ol class="indexlist">
  {% for i in seiten.selektoren %}
    <li>
      <a href="{{ i.url }}" target="_blank">{{ i.name }}</a>
    </li>
  {% endfor %}
</ol>
{# <h2>Accessibility</h2>
<ol class="indexlist">
  {% for i in seiten.accessibility %}
    <li>
      <a href="{{ i.url }}" target="_blank">{{ i.name }}</a>
    </li>
  {% endfor %}
</ol>
<h2>Sonstige Testseiten</h2>
<ol class="indexlist">
  {% for i in seiten.testseiten %}
    <li>
      <a href="{{ i.url }}" target="_blank">{{ i.name }}</a>
    </li>
  {% endfor %}
</ol> #}