---
title: Übersicht der Testseiten
permalink: index.html
layout: simple-2.njk
css:
  - base
  - indexlist
---

<ol class="indexlist">
  {% for i in seiten %}
    <li>
      <a href="{{ i.url }}">{{ i.name }}</a>
    </li>
  {% endfor %}
</ol>