---
layout: simple-1.njk
title: Infoboxes
permalink: infoboxes.html
css:
  - base
  - normalizeme
  - stateselection
  - infobox
---

<div class="state-selector">
  <ul class="nolist">
    {% for item in stateselection.infoboxes %}
      <li>
        <label for="{{ item.name }}">{{ item.name }}</label>
        {% if item.checked %}
          <input type="radio" id="{{ item.name }}" name="stateselection" checked>
          {% else %}
            <input type="radio" id="{{ item.name }}" name="stateselection">
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="infobox">
      <p>{{ lorem.para1 }}</p>
    </div>
    <div class="infobox">
      <h2>{{ lorem.headline1 }}</h2>
      <p>{{ lorem.para3 }}</p>
    </div>