---
title: modernes Layout 1
layout: simple-1.njk
permalink: modernes-layout-1.html
css:
    - modernes-layout-1
---

{% nav %}
<main class="content">
  <h1>Juppheidi, da seid ihr ja!</h1>
  <p>
    Bavaria ipsum dolor sit amet mim Radl foahn griasd eich midnand oba guad Stubn, allerweil es Haberertanz wea ko, dea ko
    fensdaln? D’ wann griagd ma nacha wos z’dringa pfundig, Marterl in da Haberertanz gwihss großherzig ja, wo samma denn.
    Schaugn auf’d Schellnsau gscheckate griasd eich midnand Musi wea nia ausgähd, kummt nia hoam Schorsch o’ha i sog ja nix,
    i red ja bloß Wurschtsolod ja, wo samma denn.
  </p>
  <div class="post-thumbnails">
    {% thumbnail %}
    {% thumbnail %}
    {% thumbnail %}
  </div>
</main>
<aside class="sidebar">
  <h2>Abseitiges</h2>
  <div class="post-thumbnails">
    {% thumbnail %}
    {% thumbnail %}
  </div>
</aside>
<footer class="site-footer">Footer</footer>