---
layout: simple-2.njk
title: Navigationen
permalink: navigations-1.html
css:
  - fremd/open-props/open-props
  - fremd/open-props/normalize/normalize
  - navigations
---

<nav>
  <ul>
    {% for i in navigations.english1 %}
      <li>
        <a href="#">{{ i.name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<nav>
  <ul>
    {% for i in navigations.english2 %}
      <li>
        <a href="#">{{ i.name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<nav>
  <ul>
    {% for i in navigations.deutsch1 %}
      <li>
        <a href="#">{{ i.name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<nav>
  <ul>
    {% for i in navigations.deutsch2 %}
      <li>
        <a href="#">{{ i.name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<nav>
  <ul>
    {% for i in navigations.deutsch3 %}
      <li>
        <a href="#">{{ i.name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<nav>
  <ul>
    {% for i in navigations.deutsch4 %}
      <li>
        <a href="#">{{ i.name }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>