---
layout: simple-2.njk
title: Select all items in a specific column when using repeat(auto-fit/fill) with Grid
permalink: select-specific-col.html
css:
  - base
  - normalizeme
  - select-specific-col
---

<p>All examples select the last column, except for the 5 columns, where I also select the middle one.</p>
<p>(it would be handy if we had some sort of variable to use in media & container queries...)</p>
<div class="grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="grid">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<p>Quelle:
  <a href="https://codepen.io/kevinpowell/pen/ZYGqOry">ein Codepen von Kevin Powell</a>
</p>