---
title: Testlayout 1
layout: simple-1.njk
permalink: testlayout-2.html
css:
    - testlayout-2
---

<div class="layout">
    <div class="feature">
        <div class="teaser">
            <svg class="placeholder" xmlns="http://www.w3.org/2000/svg">
                <rect/>
            </svg>
            <h2>Lorem ipsum dolor sit dolor.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat veniam quaerat nam.</p>
        </div>
    </div>
    <div class="quote">
        <div class="quote-teaser">
            <blockquote>
                <p>Wenn der Mittwoch sich wie ein Montag anfühlt ist es Dienstag.</p>
                <cite>— John Doe</cite>
            </blockquote>
        </div>
        <div class="quote-teaser">
            <blockquote>
                <p>Die Mutter der Dummheit ist ständig schwanger.</p>
                <cite>— Pelzig</cite>
            </blockquote>
        </div>
        <div class="quote-teaser">
            <blockquote>
                <p>Man kauft Dinge, die man nicht braucht, von Geld, das man nicht hat, um Leute zu beeindrucken, die man nicht leiden
                    kann.</p>
                <cite>— Volker Pispers</cite>
            </blockquote>
        </div>
        <div class="quote-teaser">
            <blockquote>
                <p>Das Licht ist schneller als der Schall – deshalb wirken manche Menschen klug, bis sie den Mund aufmachen.</p>
                <cite>— Alan Dundes, Ethnologe</cite>
            </blockquote>
        </div>
    </div>
    <div class="recent">
        <div class="teaser">
            <svg class="placeholder" xmlns="http://www.w3.org/2000/svg">
                <rect/>
            </svg>
            <h2>Lorem ipsum dolor sit dolor.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat veniam quaerat nam.</p>
        </div>
        <div class="teaser">
            <svg class="placeholder" xmlns="http://www.w3.org/2000/svg">
                <rect/>
            </svg>
            <h2>Lorem ipsum dolor sit dolor.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat veniam quaerat nam.</p>
        </div>
        <div class="teaser">
            <svg class="placeholder" xmlns="http://www.w3.org/2000/svg">
                <rect/>
            </svg>
            <h2>Lorem ipsum dolor sit dolor.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat veniam quaerat nam.</p>
        </div>
    </div>
</div>