@import url("custom-properties.css");

  /* ======== styling basics ======= */
  * {
    box-sizing: border-box;
  }

  html {
    padding: var(--html-padding);
    background-color: var(--html-bg);
  }

  body {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    width: var(--body-width);
    padding: var(--body-padding);
    margin: 0 auto;
    color: var(--text-color);
    background: var(--body-bg);
    box-shadow: var(--box-shadow-1);
  }

  :where(a) {
    color: currentColor;
  }