.hint {
    background-color: #e1e1e1;
    padding: 10px;
    margin-block: 40px 20px;
    width: fit-content;
}

.max400 {
    max-width: 400px;
}

.max600 {
    max-width: 600px;
}

.max800 {
    max-width: 800px;
}

.max1000 {
    max-width: 1000px;
}

.two-column {
    column-count: 2;
    column-gap: 40px;
}

.two-col-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
    gap: 2rem max(5vw, 2rem);
}