/**
 * Mit freundlicher Unterstützung von uaplus.css version 0.3.1
 */

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    interpolate-size: allow-keywords;
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scrollbar-gutter: stable;
    color-scheme: light dark;
    tab-size: 2;
}

:focus-visible {
    outline-offset: 3px;
    outline: 3px solid CanvasText;
    box-shadow: 0 0 0 5px Canvas;
}

:where(:focus-visible, :target) {
    scroll-margin-block: 8vh;
}

@media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
        scroll-behavior: smooth;
    }
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--page-bg);
    margin: 0;
    line-height: 1.25;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}

:is(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
    overflow-wrap: break-word;
    line-height: 1.2;
    margin: var(--heading-margin);
    color: var(--heading-color);
}

h1 {
    font-size: var(--heading-fz-1);
}

h2 {
    font-size: var(--heading-fz-2);
}

h3 {
    font-size: var(--heading-fz-3);
}

h4 {
    font-size: var(--heading-fz-4);
}

h5 {
    font-size: var(--heading-fz-5);
}

h6 {
    font-size: var(--heading-fz-6);
}

abbr[title] {
    cursor: help;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

@media (forced-colors: active) {
    mark {
        color: HighlightText;
        background-color: Highlight;
    }
}

audio,
iframe,
img,
svg,
video {
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

img {
    object-fit: cover;
}

iframe {
    border: none;
}

hr {
    border: none;
    border-top: var(--border-2);
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
    [type="search"] {
        border: 1px solid -apple-system-secondary-label;
        background-color: canvas;
    }
}

[hidden]:not([hidden="until-found"]) {
    display: none !important;
}


@supports(position-area: end) {
    [popover] {
        margin: 0;
        position-area: end span-end;
        position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline;
    }
}

a {
    color: currentColor;
    text-underline-offset: 0.2ex;
}

:where(ul, ol)[class],
:where(ul, ol)[role="list"] {
    list-style-type: "";
    padding-left: 0;
}

:where(svg):where(:not([fill])) {
    /* Remove fill and set stroke colour to the inherited font colour */
    stroke: currentColor;
    fill: none;
    /* Rounded stroke */
    stroke-linecap: round;
    stroke-linejoin: round;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

blockquote {
    border-left: var(--blockquote-border);
    background: var(--blockquote-bg);
    color: var(--blockquote-color)
    margin: var(--spacing-3) 0;
    padding: var(--spacing-2);
}

blockquote footer {
    font-style: normal;
    border: 0;
}

blockquote cite {
    font-style: normal;
}