:root {
    --gray-50: #f9fafb;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-900: #111827;

    --blue-600: #2563eb;
    --green-500: #22c55e;
    --red-500: #ef4444;

    --success: var(--green-500);
    --error: var(--red-500);
    --badge-bg: var(--gray-50);
    --btn-bg: var(--gray-50);
    --btn-color: var(--gray-900);

    --dot-size: 8px;
    --dot-color: var(--gray-300);

    --max-width: 896px;

    --spacing-1: 8px;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-1) * 3);
    --spacing-4: calc(var(--spacing-1) * 4);
    --spacing-5: calc(var(--spacing-1) * 5);
    --spacing-6: calc(var(--spacing-1) * 6);

    --border-radius-1: 4px;
    --border-radius-2: calc(var(--border-radius-1) * 2);
    --border-radius-3: calc(var(--border-radius-1) * 3);
    --border-radius-round: 100%;

    --border-1: 1px solid var(--gray-200);
    --border-2: 1px solid var(--gray-300);
    --box-shadow-light: 0 1px 2px 0 rgb(0 0 0 / 0.05);

    --btn-fz: 0.875rem;
    --badge-fz: 0.875rem;

    --site-header-bg: var(--gray-50);
    
    --nav-color: var(--gray-400);
    --nav-fz: 0.875rem;
    
    --site-footer-bg: var(--gray-50);
    --site-footer-color: var(--gray-400);
    --site-footer-fz: 0.875rem;
}