dialog::backdrop {
    --_dialog-transition-speed: 150ms;
    --_dialog-transition: var(--_dialog-transition-speed);
    background: oklch(0% 0 0 / 0.5);
}

dialog:not(:modal) {
    --_dialog-transition: 0;
}

dialog:-internal-dialog-in-top-layer {
    --_dialog-transition: var(--_dialog-transition-speed);
}

dialog, [popover], dialog::backdrop {
    opacity: 0;
    transition: opacity var(--_dialog-transition) ease-out, display var(--_dialog-transition) allow-discrete,
        overlay var(--_dialog-transition) allow-discrete;
}

dialog[open], :popover-open, dialog[open]::backdrop {
    opacity: 1;
}

@starting-style {
    dialog[open], :popover-open, dialog[open]::backdrop {
        opacity: 0;
    }
}
