form,
fieldset {
    display: grid;
    gap: var(--spacing-2);
}

fieldset {
    min-inline-size: 0;
}

label:has(+ :where(input:not([type="radio"], [type="checkbox"]), select, textarea)) {
    display: block;
    margin-bottom: var(--spacing-1);
}

button,
input,
select,
label,
textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input:is([type="text"], [type="email"], [type="number"], [type="tel"],
[type="password"]),
select,
textarea {
    width: -webkit-fill-available;
    width: stretch;
}

input,
select,
textarea {
    border: var(--border-1);
    padding: var(--spacing-1);
    border-radius: var(--border-radius-1);
}

button,
label,
select,
[role='button'],
[role='option'] {
    cursor: pointer;
}

textarea {
    resize: vertical;
    resize: block;
}

textarea:not([rows]) {
    min-block-size: 6em;
}

:disabled,
label:has(> input:disabled),
label:has(+ input:disabled) {
    cursor: not-allowed;
}

[type="search"] {
    appearance: textfield;
}