{% for javascript in js %}
  <script src="assets/js/{{ javascript }}.js"></script>
{%- endfor %}
{% if externaljsfooter %}
  <script src="{{ externaljsfooter }}"></script>
{% endif %}
{% if externaljsmodulefooter %}
  <script src="{{ externaljsmodulefooter }}" type="module"></script>
{% endif %}</body></html>