{%- import '../macros.njk' as component -%}
<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% for style in css %}
      <link rel="stylesheet" href="./assets/css/{{ style }}.css">
    {%- endfor %}
    {% if swapstyle %}
      {% for style in swapstyle %}
        <link id="pagestyle" rel="stylesheet" type="text/css" href="./assets/css/{{ style }}.css">
      {% endfor %}
    {% endif %}
    {% if externaljsmoduletop %}
      {% for js in externaljsmoduletop %}
        <script src="{{ js }}" type="module"></script>
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {# ignore #}
  </body>
</html>